---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { resolveIngredients } from "../../content/ingredients/resolve-ingredient";
import IngredientPath from "../../components/IngredientPath.astro";
import { getIngredientHref } from "../../content/ingredients/ingredient-href";

const ingredients = await resolveIngredients();
---

<StarlightPage
  frontmatter={{
    title: "Ingredients",
    description: `A list of all ingredients.`,
  }}
>
  <div class="ingredients-layout">
    {
      ingredients.map((ingredient) => (
        <a class="ingredients-item" href={getIngredientHref(ingredient.id)}>
          <h5 class="ingredients-item-name">{ingredient.data.name}</h5>
          <div class="ingredients-item-path">
            <IngredientPath size={100} ingredient={ingredient} />
          </div>
        </a>
      ))
    }
  </div>
</StarlightPage>
<style>
  .ingredients-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (max-width: 600px) {
    .ingredients-layout {
      justify-content: center;
    }
  }

  .ingredients-item {
    border: 1px solid var(--sl-color-hairline);
    border-radius: 0.5rem;
    padding: 18px;
    margin: 4px;
    width: 170px;
    height: 200px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  .ingredients-item-name {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .ingredients-item-path {
    display: flex;
    justify-content: center;
  }
</style>
