---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { resolveIngredients } from "../../content/ingredients/resolve-ingredient";
import IngredientPath from "../../components/IngredientPath.astro";
import { getIngredientHref } from "../../content/ingredients/ingredient-href";
import ItemListItem from "../../components/ItemList/ItemListItem.astro";
import ItemList from "../../components/ItemList/ItemList.astro";

const ingredients = await resolveIngredients();
---

<StarlightPage
  frontmatter={{
    title: "Ingredients",
    description: `A list of all ingredients.`,
  }}
>
  <ItemList>
    {
      ingredients.map((ingredient) => (
        <ItemListItem
          title={ingredient.data.name}
          href={getIngredientHref(ingredient.id)}
        >
          <div class="ingredients-item-path">
            <IngredientPath size={100} ingredient={ingredient} />
          </div>
        </ItemListItem>
      ))
    }
  </ItemList>
</StarlightPage>
<style>
  .ingredients-item-path {
    display: flex;
    justify-content: center;
  }
</style>
