---
import { render } from "astro:content";
import { Image } from "astro:assets";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { resolveSaltIcon } from "../../content/salts/resolve-salt-icon";
import { getRecipesBySalt } from "../../content/recipes/recipes-by-salt";

import RecipesTable from "../../components/RecipesTable.astro";
import ExpandableContent from "../../components/ExpandableContent.astro";
import { resolveSalts } from "../../content/salts/resolve-salt";

export async function getStaticPaths() {
  const salts = await resolveSalts();
  return salts.map((effect) => ({
    params: { slug: effect.id },
    props: { salt: effect },
  }));
}

const { salt } = Astro.props;
const { id } = salt;
const { name, pricePerGrain } = salt.data;

const [{ Content, headings }, resolvedIcon, recipes] = await Promise.all([
  render(salt),
  resolveSaltIcon(id),
  getRecipesBySalt(id),
]);
---

<StarlightPage
  frontmatter={{
    title: name,
    description: name,
  }}
  headings={[...headings, { depth: 2, slug: "salt-recipes", text: "Recipes" }]}
>
  <div class="attr-page-layout">
    <aside class="attr-page-infobox">
      {
        resolvedIcon && (
          <Image class="icon" src={resolvedIcon} alt={name} width={64} />
        )
      }
      <dl>
        <dt>Price Per Grain</dt>
        <dd>{pricePerGrain}</dd>
      </dl>
    </aside>

    <div class="attr-page-body">
      <Content />
      <ExpandableContent id="salt-recipes" title="Recipes using this salt">
        <RecipesTable recipes={recipes} />
      </ExpandableContent>
    </div>
  </div>
</StarlightPage>
