---
import { Image } from "astro:assets";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { resolveSaltIcon } from "../../content/salts/resolve-salt-icon";
import { getSaltHref } from "../../content/salts/salt-href";
import { resolveSalts } from "../../content/salts/resolve-salt";

const salts = await resolveSalts();

const saltIcons = await Promise.all(
  salts.map((effect) => resolveSaltIcon(effect.id)),
);
---

<StarlightPage
  frontmatter={{
    title: "Salts",
    description: `A list of all salts.`,
  }}
>
  <div class="salts-layout">
    {
      salts.map((salt, i) => (
        <a class="salts-item" href={getSaltHref(salt.id)}>
          <h5 class="salts-item-name">{salt.data.name}</h5>
          {saltIcons[i] && (
            <div class="salts-item-icon">
              <Image src={saltIcons[i]} alt={salt.data.name} width={64} />
            </div>
          )}
        </a>
      ))
    }
  </div>
</StarlightPage>
<style>
  .salts-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (max-width: 600px) {
    .salts-layout {
      justify-content: center;
    }
  }

  .salts-item {
    border: 1px solid var(--sl-color-hairline);
    border-radius: 0.5rem;
    padding: 18px;
    margin: 4px;
    width: 140px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  .salts-item-name {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .salts-item-icon {
    margin-top: auto;
  }
</style>
