---
import { Icon } from "@astrojs/starlight/components";
interface Props {
  id?: string;
  collapsed?: boolean;
  title: string;
}

const { id, collapsed = false, title } = Astro.props;
---

<div class="expandable-content" id={id}>
  <h2 class="expandable-title" data-collapsed={collapsed ? "true" : "false"}>
    {title}
    <span class="expandable-icon">
      <span class="icon-collapsed" style={collapsed ? "" : "display: none;"}>
        <Icon name="right-caret" label="expand" size="2rem" />
      </span>
      <span class="icon-expanded" style={collapsed ? "display: none;" : ""}>
        <Icon name="down-caret" label="collapse" size="2rem" />
      </span>
    </span>
  </h2>
  <div class="expandable-body" style={collapsed ? "display: none;" : ""}>
    <slot />
  </div>
</div>

<script>
  document
    .querySelectorAll<HTMLElement>(".expandable-title")
    .forEach((title) => {
      title.addEventListener("click", () => {
        const body = title.nextElementSibling as HTMLElement;
        const icon = title.querySelector(".expandable-icon") as HTMLElement;
        const isCollapsed = title.dataset.collapsed === "true";

        const iconCollapsed = icon.querySelector(
          ".icon-collapsed",
        ) as HTMLElement;
        const iconExpanded = icon.querySelector(
          ".icon-expanded",
        ) as HTMLElement;

        if (isCollapsed) {
          body.style.display = "";
          iconCollapsed.style.display = "none";
          iconExpanded.style.display = "";
          title.dataset.collapsed = "false";
        } else {
          body.style.display = "none";
          iconCollapsed.style.display = "";
          iconExpanded.style.display = "none";
          title.dataset.collapsed = "true";
        }
      });
    });
</script>

<style>
  .expandable-title {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }

  .expandable-icon {
    font-size: 0.7em;
  }
</style>
