---
import { Image } from "astro:assets";
import { resolveIngredientIcon } from "../content/ingredients/resolve-ingredient-icon";
import { resolveIngredient } from "../content/ingredients/resolve-ingredient";
import { ingredientHref } from "../content/ingredients/ingredient-href";

interface Props {
  ingredients: Record<string, number>;
  count?: boolean;
  limit?: number;
}

const { ingredients, limit, count } = Astro.props;

// Technically only need to check the resolved ones, but this is done at build time so meh.
const ingredientData = Object.fromEntries(
  await Promise.all(
    Object.keys(ingredients).map(async (id) => {
      const [ingredient, icon] = await Promise.all([
        resolveIngredient(id),
        resolveIngredientIcon(id),
      ]);
      if (!ingredient) {
        return [id, null];
      }
      return [id, { ingredient, icon }];
    }),
  ),
);

const resolved = Object.entries(ingredients).slice(0, limit ?? Infinity);
const limitReached =
  limit !== undefined && Object.entries(ingredients).length > limit;
---

<ul class="ingredient-list">
  {
    resolved.map(([id, amount]) => (
      <li>
        <span class="ingredient-list-item">
          <a href={ingredientHref(id)}>
            {ingredientData[id]?.icon ? (
              <Image
                class="recipe-effect-icon"
                src={ingredientData[id].icon}
                alt={ingredientData[id].ingredient.data.name}
                width={32}
                height={32}
              />
            ) : (
              <div
                class="recipe-effect-icon"
                style={{
                  width: "32px",
                  height: "32px",
                  backgroundColor: "#ccc",
                  display: "flex",
                  alignItems: "center",
                  justifyContent: "center",
                  fontSize: "12px",
                  color: "#333",
                }}
              >
                {ingredientData[id]?.ingredient.data.name ?? id}
              </div>
            )}
          </a>
          {count && `x${amount}`}
        </span>
      </li>
    ))
  }
  {
    limitReached && (
      <li>
        <span>
          +{Object.entries(ingredients).length - resolved.length} more
        </span>
      </li>
    )
  }
</ul>
<style>
  .ingredient-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .ingredient-list-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
</style>
