---
import { getTagHref } from "../content/tags/tag-href";

interface Props {
  tags: string[];
  limit?: number;
}

// TODO: Get icons for these!

const { tags, limit } = Astro.props;

const resolved = tags.slice(0, limit ?? Infinity);
const limitReached = limit !== undefined && tags.length > limit;

function capitalizeFirstLetter(str: string) {
  return str.charAt(0).toUpperCase() + str.slice(1);
}
---

<ul class="recipe-tags-list">
  {
    resolved.map((tag) => (
      <li>
        <a class="recipe-tags-list-item" href={getTagHref(tag)}>
          {capitalizeFirstLetter(tag)}
        </a>
      </li>
    ))
  }
  {limitReached && <li>+{tags.length - resolved.length} more</li>}
</ul>
<style>
  .recipe-tags-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }

  .recipe-tags-list-item {
    white-space: nowrap;
    flex: 1 0 auto;
  }
</style>
