---
import { render } from "astro:content";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getRecipesByTag } from "../../content/recipes/recipes-by-tag";
import RecipesTable from "../../components/RecipesTable.astro";
import ExpandableContent from "../../components/ExpandableContent.astro";
import { resolveTags } from "../../content/tags/resolve-tag";

export async function getStaticPaths() {
  const tags = await resolveTags();
  return tags.map((effect) => ({
    params: { slug: effect.id },
    props: { tag: effect },
  }));
}

const { tag } = Astro.props;
const { id } = tag;
const { name } = tag.data;

const [{ Content }, recipes] = await Promise.all([
  render(tag),
  getRecipesByTag(id),
]);
---

<StarlightPage
  frontmatter={{
    title: name,
    description: name,
  }}
  headings={[{ depth: 2, slug: "tag-recipes", text: "Recipes" }]}
>
  <div class="tag-layout">
    <!-- TODO: Icon 
    <aside class="effect-infobox">
    </aside>
    -->
    <div class="tag-body">
      <Content />
    </div>
    <ExpandableContent id="tag-recipes" title="Recipes using this tag">
      <RecipesTable recipes={recipes} />
    </ExpandableContent>
  </div>
</StarlightPage>

<style>
  .tag-layout {
    min-height: 200px;
  }

  .effect-infobox {
    float: right;
    width: 200px;
    margin-left: var(--sl-content-pad-x);
    border: 1px solid var(--sl-color-hairline);
    border-radius: 0.5rem;
    padding: 1rem;
    height: fit-content;
  }

  .icon-wrapper {
    border-radius: 0.25rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  dt {
    font-size: var(--sl-text-xs);
    color: var(--sl-color-gray-3);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  dd {
    font-weight: 600;
    margin: 0 0 0.75rem 0;
  }
</style>
