---
import { Image } from "astro:assets";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { resolveEffects } from "../../content/effects/resolve-effect";
import { resolveEffectIcon } from "../../content/effects/resolve-effect-icon";
import { getEffectHref } from "../../content/effects/effect-href";

const effects = await resolveEffects();

const effectIcons = await Promise.all(
  effects.map((effect) => resolveEffectIcon(effect.id)),
);
---

<StarlightPage
  frontmatter={{
    title: "Effects",
    description: `A list of all effects.`,
  }}
>
  <div class="effects-layout">
    {
      effects.map((effect, i) => (
        <a class="effects-item" href={getEffectHref(effect.id)}>
          <h5 class="effects-item-name">{effect.data.name}</h5>
          {effectIcons[i] && (
            <div class="effects-item-icon">
              <Image src={effectIcons[i]} alt={effect.data.name} width={64} />
            </div>
          )}
        </a>
      ))
    }
  </div>
</StarlightPage>
<style>
  .effects-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (max-width: 600px) {
    .effects-layout {
      justify-content: center;
    }
  }

  .effects-item {
    border: 1px solid var(--sl-color-hairline);
    border-radius: 0.5rem;
    padding: 18px;
    margin: 4px;
    width: 140px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  .effects-item-name {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .effects-item-icon {
    margin-top: auto;
  }
</style>
